******************************************************************************
*                                                                            *
* DRILL TAPE SUMMARY REPORT                                                  *
*                                                                            *
* F:\VINAY_SHARED\VINAY\AGRO - IOT SENSOR PROJECT\PCB_LWS-V1\PCB_LWS-V1.MAX  *
* Tue Mar 05 16:29:59 2019                                                   *
*                                                                            *
******************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       315      13       200      100                                                                                 
T2       390      4        200      100                                                                                 
T3       394      2        200      100                                                                                 
T4       1181     3        200      100                                                                                 
